footer{
    background-color: #222;
    color: #fff;
    padding: 1%;
    text-align: center;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 0 1em;
}
li:hover{
    color: #ffbb33;
}

svg{
    font-size: 1.5em;
    cursor: pointer;
}

p{
    margin-top: 2em;
}

span{
    font-weight: bold;
    color: #ffbb33;
}